body{
  font-family: Courier;
  font-size: 12px;
}
ul{
  list-style-type: none;
  
}
#title{
  font-size: 20px;
  text-align: center;
}
#img-div{
  text-align: center;
}
#image{
  max-width: 100%;
}
#img-caption{
  font-style: italic;
  color: Gray;
  font-size: 10px;
}
#tribute-info{
  width: 50%;
  justify-items: justify;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px auto;
}
#tribute-info div{
  padding: 0px 10px 0px 10px;
}
ul{
  text-align: justify;
  padding-left: 0px;
}
#ksiunszki p{
  text-align: justify;
}
#tribute-link{
  grid-area: 2/1/3/4;
  background-color: LightGray;
  text-align: center;
  padding-top: 30px;
}
